# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
config.env
.env

# logs
logs
*.log
logs/*.log

# runtime data
pids
*.pid
*.seed

# misc
.DS_Store
.idea/
